<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watch2gether - Index</title>
</head>
<body>
    <input type="button" value="Create new room" onclick="new_room()">
    <br><br>
    <input type="text" name="Enter a room id" id="room_input">
    <input type="button" value="Go to room" onclick="goto_room()">
</body>

<style>
    body {
        text-align: center;
    }
</style>

<script>
    const input = document.getElementById("room_input")
    function goto_room() {
        window.location.href = "/room/" + input.value
    }

    async function new_room(params) {
        owo = fetch(
            "/api/new_room", { method: "POST"})
            .then(response => { window.location.href = response.url} 
        );
    }
</script>
</html>